<div class="user-show">
  <h3>
    <%= @user.email %>
  </h3>
  <div class="follow-follower">
    <%= link_to 'フォロー一覧', "/followings/#{@user.id}/index", class: "follow"%>
    <%= link_to 'フォロワー一覧', "/followers/#{@user.id}/index", class: "follow"%>
  </div>

  <div class="follow-unfollow-btn">
    <%= render "relationships/follow_button" %>
  </div>
  <h3>投稿一覧</h3>
  <% @user.posteds.each do |post| %>
    <section class="card">
      <div class="card-content">
        <h6 class="card-title">
        <%= link_to post.name, "/posteds/#{post.id}" %>
        </h6>
        <p class="card-text">
          <%= post.address %>
        </p>
      </div>
    </section>
  <% end %>
  <h3>いいね一覧</h3>
  <% @likes.each do |like| %>
    <section class="card">
      <div class="card-content">
        <h6 class="card-title">
          <%= link_to like.posted.name, "/posteds/#{like.posted.id}" %>
        </h6>
        <p class="card-text">
          <%= like.posted.address %>
        </p>
      </div>
    </section>
  <% end %>
</div>
